### variables ##
  PATH=/usr/local/bin:/usr/bin:/usr/local/sbin:/usr/sbin:/home/skilbjo/bin
  MAILTO=john.skilbeck@gmail.com
  app_dir="/home/skilbjo/deploy/app/router-logs"


## jobs ##
5 * * * * skilbjo cd "$app_dir" ; ./src/run_job >/dev/null


## syntax ##
# ┌───────────── min (0 - 59)
# │ ┌────────────── hour (0 - 23)
# │ │ ┌─────────────── day of month (1 - 31)
# │ │ │ ┌──────────────── month (1 - 12)
# │ │ │ │ ┌───────────────── day of week (0 - 6) (Sunday to Saturday;
# │ │ │ │ │
# * * * * *  command to execute
